body, html {
    margin: 0;
    padding: 0;
    font-size: large;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-image {
    background: url('static/moon.jpg') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Adjust the following property to control the parallax effect */
    transform: translate3d(0, 0, 0);
}

.paralax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.scroll-arrow {
    position: absolute;
    bottom: -20vh; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-left: none;
    border-bottom: none;
    transform: rotate(-225deg);
    cursor: pointer;
}

.custom-shape-divider-bottom-1706274157 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706274157 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1706274157 .shape-fill {
    fill: #fa7268;
}

.top {
    margin: 0;
    background-color: #fa7268;
    padding: 3vh;
    padding-top: 5vh;
    color: #68F0FA;
}

.custom-shape-divider-bottom-1706274824 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1706274824 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    background-color: #6198ff;
}

.custom-shape-divider-bottom-1706274824 .shape-fill {
    fill: #fa7268;
}

a {
    color: inherit;
}

#topFirstElements {
    display: grid;
    grid-template-areas: "1 2";
}

#whatIDo {
    background-color: orange;
    width: fit-content;
    padding: 1.5%;
    border-radius: 2vh;
    color:dimgray;
}

#socialMedias {
    background-color: orange;
    width: fit-content;
    padding: 1.5%;
    border-radius: 2vh;
    min-width: 10em;
    color:dimgray;
}

#mainProjects {
    padding: 2%;
    background-color: #6198ff;
    color: #FFC861;
}

#mainProjects-list {
    width: 100%;
}

.mainProject {
    width: fit-content;
    padding: 1.5%;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#budgettrackerImage {
    max-width: 100%;
    background-color: blue;
    padding: 3%;
    border-radius: 3vh;
    max-width: 60vw;
}

@media screen and (max-width: 100vh) {
    #topFirstElements {
        grid-template-areas: "1" "2";
    }
    .mainProject {
        flex-direction: column;
    }
    #budgettrackerImage {
        max-width: 90vw;
    }
}

